body {
    background-color: rgb(164, 181, 181);
}



header {
background-color: rgb(189, 230, 230);
font-size: 30pt;
font-family: 'Courier New', Courier, monospace;
text-align: center;
padding: 20px;
}

h3 {
text-align: center;
font-size: 25px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    align-items:center;
    font-size: larger;
    flex-wrap: wrap;
}

input {
    align-items: center;
}

h3 {
    font-size: medium;
    font-family: sans-serif;
}